/* Mobile Responsive Part */

@media screen and (max-width:576px) {
    /* shared styles */
  .btn-primary {
    font-size:1rem;
  }
  .side-spaces {
    margin: 0px 20px;
  }
  .text-title {
    font-size:2rem;
  }
  /* navigation bar styles */
  .brand-name {
    font-size:2rem;
  }
  .nav-menu {
    display: none;
  }
  .nav-hamburger-icon {
    display: flex;
  }
  .nav-bar {
    padding-top:30px;
  }
  /* cover styles */
  .cover {
    flex-direction:column;
    gap:40px;
    margin-top:60px;
    text-align:left;
  }
  .cover-title {
    font-size:3rem;
    line-height:50px;
    width:100%;
  }
  .miama {
    font-size:5rem;
  }
  .visual {
    width:140px;
    height:70px;
  }
  .video-tutorial {
    top:-130px;
    left:-2%;
  }
  .free-workout {
    top:-500px;
    left:60%;
  }
  .btn-primary {
    width:calc((100% - 24px)/2);
    font-weight:500;
    padding:10px 0;
  }
  .visual-cards > h2 {
    font-size:1.2rem;
  }
  .visual-cards > h1 {
    font-size:1.5rem;
    line-height:40px;
  }
  .visual-cards > p {
    font-size:0.7rem;
    line-height:5px;
  }
  /* main styles */
  
    /* habit styles */
    .habit-list {
    grid-template-columns:repeat(1,1fr);
  }
  .habit-title {
    line-height:60px;
    margin-bottom:20px;
  }
  /* run extra mile styles */
  
  .extra-mile {
    flex-direction:column;
    justify-content:center;
    gap:30px;
    margin:70px 0px;
    padding: 30px 25px;
  }
  .extra-mile-image {
    background-size:cover;
    min-width:90%;
    min-height:220px;
  }
  .extra-mile-btn {
    width:100%;
    max-width:100%;
  }
  /* bmi styles */
  .bmi-calculator {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    padding:50px 30px;
  }
  .bmi-calculator-chart {
    margin-bottom: 30px;
  }
  /* pricing styles */
  .pricing-intro-title {
    line-height:60px;
    margin-bottom:20px;
  }
  .pricing-cards-list {
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .pricing-card-item {
    margin-bottom:10px;
  }
  /* meet team styles */
  .meet-team-collage {
    grid-template-columns:repeat(1,1fr);
    margin-bottom: 100px;
  }
  /* footer styles */
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .footer-intro {
    margin-bottom: 20px;
  }
}